<table>
	<tr>
		<td><%= comment.commenter %>说：</td>
		<td><%= comment.body %></td>
	</tr>
</table>

<p>
	<%= link_to 'Destroy Comment', [comment.article, comment] , method: :delete, data: { confirm: 'Are you sure?' }%>
</p>